/* Fondo degradado */
.custom-navbar {
  background: linear-gradient(90deg, #6a0dad, #ff7e5f);
}

/* Logo */
.logo {
  width: 35px;
  height: 35px;
  margin-right: 8px;
}

/* Enlaces */
.nav-link-custom {
  color: white !important;
  font-weight: 500;
  margin-left: 15px;
  transition: 0.3s;
}

.nav-link-custom:hover {
  color: #ffe6d1 !important;
}
